# Name: Image_Viewer
# Author: Kevin Terretaz
# Version: 1.3
# Date: 2025/11/16
# Requires: ImageJ 1.54


Plugins>Image Viewer, "Channels and Contrast", Channels_and_Contrast("")
Plugins>Image Viewer, "LUTs Manager", LUTs_Manager("")
Plugins>Image Viewer, "Reset Display", Reset_Display("")
Plugins>Tools, "Multi Tool", Multi_Tool("")