# Name: Image_Viewer
# Author: Kevin Terretaz
# Version: 1.1
# Date: 2025/10/25
# Requires: ImageJ 1.54


Plugins>Image Viewer, "Channels and Contrast", Channels_and_Contrast("")
Plugins>Image Viewer, "LUTs Manager", LUTs_Manager("")
Plugins>Image Viewer, "Reset Display", Reset_Display("")
# Plugins>Image Viewer, "-", "-"
# Plugins>Image Viewer, "Split View...", ij.plugin.Macro_Runner.runMacroFromJar("Split_View.ijm")
# Plugins>Image Viewer, "Auto scale bar", ij.plugin.Macro_Runner.runMacroFromJar("Auto_scale_bar.ijm")
# Plugins>Image Viewer, "Generate Preview Opener", ij.plugin.Macro_Runner.runMacroFromJar("create_Preview_Opener.ijm")
# Plugins>Image Viewer, "-", "-"
# Plugins>Image Viewer, "Auto contrast all images", ij.plugin.Macro_Runner.runMacroFromJar("Auto_contrast_all_images.ijm")
# Plugins>Image Viewer, "Auto contrast all channels", ij.plugin.Macro_Runner.runMacroFromJar("Auto_contrast_all_channels.ijm")
# Plugins>Image Viewer, "Auto contrast active channel", ij.plugin.Macro_Runner.runMacroFromJar("Auto_contrast_active_channel.ijm")
# Plugins>Image Viewer, "Reset min max all images", ij.plugin.Macro_Runner.runMacroFromJar("Reset_min_max_all_images.ijm")
# Plugins>Image Viewer, "Reset min max all channels", ij.plugin.Macro_Runner.runMacroFromJar("Reset_min_max_all_channels.ijm")
# Plugins>Image Viewer, "Reset min max active channel", ij.plugin.Macro_Runner.runMacroFromJar("Reset_min_max_active_channel.ijm")
# Plugins>Image Viewer, "Same contrast to all opened images", ij.plugin.Macro_Runner.runMacroFromJar("Same_contrast_to_all_opened_images.ijm")
# Plugins>Image Viewer, "-", "-"
# Plugins>Image Viewer, "Save all opened images as...", ij.plugin.Macro_Runner.runMacroFromJar("Save_all_opened_images_as.ijm")
# Plugins>Image Viewer, "Image Viewer options", ij.plugin.Macro_Runner.runMacroFromJar("Image_Viewer_options.ijm")
Plugins>Tools, "Multi Tool", Multi_Tool("")